.df{
    display: flex;
}
.ac{
    align-items: center;
}
.jc{
    justify-content: center;
}
.jc-b{
    justify-content: space-between;
}
.fz-14{
    font-size: 14px;
}
.fz-12{
    font-size: 12px;
}
.page-size{
    max-width: 1280px;
    margin: auto;
}
.txt-up{
    text-transform: uppercase;
}
.txt-cap{
    text-transform: capitalize;
}
.color-sec{
    color: $secondary-color;
}
.pos-rel{
    position: relative;
}