
@font-face {
    font-family: manrope;
    src: url(./fonts/Manrope/manrop.ttf);
  }
// colors setup
$error-color: #ff3c3c;
$success-color: #00ff40;
$badge-background: #ffde3b;
$active-color: #202b83;
$primary-color: rgb(15, 12, 27);
$secondary-color: #ff00ad;
$secondary-color-ref: #ffffff;
$bg-color: white;
$p-fonts: 'manrope', 'system-ui'

